/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body{
	width: 880px;
	margin: auto;
}
nav{
	background-color: black;
	z-index: 80;
	position: fixed;
	top: 20px;
}

.navi{
	font-size: 16px;
	color: white;
	padding: 25px;
	display: inline-block;
	text-decoration: none;
}
h1{
	font-size: 85px;
	position: relative;
	top: 170px; left: 75px;
	width: 40%;
	height: 60px;
}
h2{
	font-size: 20px;
	font-family: Merienda;
	border: 1px solid black;
	position: relative;
	top: 180px; left: 160px;
	width: 170px;
	padding: 10px;
}
h3{
	font-size: 18px;
}
.logo{
	position: relative;
	top: 35px; left: 680px;
}
.logo2{
	position: relative;
	bottom: 190px; left: 240px;
}
#box1, #box2{
	display: inline-block;
	width: 49%;
	margin: 50px auto;
}
#box3, #box4, #box5{
	display:inline-block;
	width: 33%;
	margin: 50px auto;
}
#headerdiv{
	height: 550px;
	text-align: center;
}
#contact{
	margin: 50px auto;
}
footer{
	text-align:center;
	margin: 50px auto;
}